<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.platform0122.dao.local.PingDBMapper">

    <select id="queryPushData" resultType="com.example.platform0122.entity.PingDB">
        SELECT
        	*
        FROM
		ping_tb
        where
		isactive=1 order by id desc LIMIT 1;
    </select>

    <update id="updateById">
        update ping_tb set isactive = 0 where id = #{id}
    </update>

    <select id="getPingData" parameterType="java.util.Map" resultType="com.example.platform0122.entity.PingDB">
        select * from ping_tb_0${tabIndex} where userid = #{userid} and bizid = #{bizid} and isactive = 1 order by insertTime desc LIMIT 1
    </select>

    <insert id="insertOne" parameterType="com.example.platform0122.entity.PingDB" keyProperty="id" useGeneratedKeys="true">
        insert into ping_tb_0${tabIndex} (userid,listingid,bizid,zuid,dingid,months,credit_score,credit_level,credit_bin,credit_level_pro,model_label,model_ver,
        process_flag,block_days,info)
        values (#{userid},#{listingid},#{bizid},#{zuid},#{dingid},#{months},#{creditScore},#{creditLevel},#{creditBin},#{creditLevelPro},#{modelLabel},#{modelVer},
        #{processFlag},#{blockDays},#{info})
    </insert>

</mapper>