<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.platform0122.dao.drools.ModelPsiVarMapper">

    <select id="selectById" resultType="com.example.platform0122.entity.ModelPsiVar">
        SELECT
        	*
        FROM
		model_psi_var
        where
		isactive=1 and id = #{id}
    </select>


    <update id="deleteById">
        update model_psi_var set isactive = 0 where id = #{id}
    </update>

    <update id="updateBatch" parameterType="java.util.List">
        update model_psi_var
        <set>
            isactive = 0
        </set>
        where id in
        <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
           #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>


    <update id="updateByIds" parameterType="Integer[]">
        update model_psi_var
        <set>
            isactive = 0
        </set>
        where id in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>


    <insert id="insertModelPsiVar" parameterType="com.example.platform0122.entity.ModelPsiVar" keyProperty="id" useGeneratedKeys="true">
        insert into model_psi_var (type,var)
        values (#{type},#{var})
    </insert>


    <insert id="addAndGetId" keyProperty="id" useGeneratedKeys="true" parameterType="com.example.platform0122.entity.ModelPsiVar">
        insert into model_psi_var (type,var)
        values (#{type},#{var})
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>


    <insert id="insertBatch" parameterType="java.util.List">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into model_psi_var (type,var) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.type},
            #{item.var}
            )
        </foreach>
    </insert>


</mapper>