<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.platform0122.dao.news.AppAdjRecordMapper">

    <select id="queryPushData" resultType="com.example.platform0122.entity.AppAdjRecord">
        SELECT
        	*
        FROM
		app_adj_record
        where
		isactive=1 order by id desc LIMIT 1;
    </select>


    <update id="updateById">
        update app_adj_record set isactive = 0 where id = #{id}
    </update>

</mapper>